<!-- <div class="bg-light">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Về chúng tôi</h3>
                    <p>Chào mừng bạn đến với BLOGSTORY, nguồn thông tin hữu ích về các mẹo, hướng dẫn và thông tin chi tiết về lập trình. Khám phá thế giới mã hóa với chúng tôi!</p>
                </div>
                <div class="col-md-4">
                    <h3>Kết nối với chúng tôi</h3>
                    <ul class="social-link">
                        <li><a class="text-decoration-none" href="#" target="_blank" rel="noopener noreferrer">Facebook</a></li>
                        <li><a class="text-decoration-none" href="#" target="_blank" rel="noopener noreferrer">Twitter</a></li>
                        <li><a class="text-decoration-none" href="#" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
                        <li><a class="text-decoration-none" href="#" target="_blank" rel="noopener noreferrer">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <p>&copy; 2024 BLOGSTORY. All Rights Reserved. | Designed by Phi hoàng</p>
        </div>
    </footer>
</div>
 -->

<section class="bg-light">
    <div class="container">
        <!-- <hr> -->
        <div class="row">
            <div class="col-lg-9 m-auto text-center mt-5">
                <h1>Đăng ký để nhận thông tin từ chúng tôi</h1>
                <div class="d-flex">
                    <input type="text" class="form-control me-2" placeholder="Email liên hệ của bạn" name="" id="">
                    <button class="btn btn-primary col-2">Xác nhận</button>
                </div>

            </div>
        </div>
        <div class="row pb-5">
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-3 py-3">
                        <h5 class="pb-3">Theo dõi blog</h5>
                        <a href=""><p>Trang chủ</p></a>
                        <a href=""><p>Chúng tôi trên Facebook</p></a>
                        <a href=""><p>Chúng tôi trên Youtube</p></a>
                    </div>
                    <div class="col-lg-3 py-3">
                        <h5 class="pb-3">Link hữu ích</h5>
                        <a href=""><p>Giới thiệu blog</p></a>
                        <a href=""><p>Bài viết hay</p></a>
                        <a href=""><p>Điều khoản</p></a>
                    </div>
                    <div class="col-lg-3 py-3">
                        <h5 class="pb-3">Blog bạn bè</h5>
                        <a href=""><p>Tôi đi code dạo</p></a>
                        <a href=""><p>---------------</p></a>
                        <a href=""><p>---------------</p></a>
                    </div>
                    <div class="col-lg-3 py-3">
                        <h5 class="pb-3">Kết nối</h5>
                        <a href=""><p>Tôi trên Facebook</p></a>
                        <a href=""><p>Tôi trên Instagram</p></a>
                        <a href=""><p>Tôi trên GitHub</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>